<div class = "main">

  <div class = "title">変動費科目登録</div>
  <%= form_for @variablecost do |form| %>
    <%= render "form", form: form %>
    <div><%= form.submit "作成", class: "btn" %></div>
  <% end %>

</div>